*{
  padding: 5px; 
  margin: 0px;
}
body{
  height: 100vh;
  font-family: Times, Monospace;
  color: #fff;
  background: linear-gradient(0deg, rgb(5, 5, 7), rgb(5,5,30));
}

.card{
  padding: 10px;
  box-shadow: 5px 5px 10px #00ff00;
}